<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3 ">Listado Empleados</span>
            <button class="btn btn-dark float-end" routerLink="/create-empleado">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Andrés</td>
                    <td>Mena</td>
                    <td>1042708237</td>
                    <td>2.000.000</td>
                    <td>
                        <i class="fas fa-edit text-info fa-lg" style="margin-right: 8px; cursor: pointer;"></i>
                        <i class="fas fa-trash-alt text-danger fa-lg" style="cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Caren</td>
                    <td>Mena</td>
                    <td>1042708237</td>
                    <td>4.000.000</td>
                    <td>
                        <i class="fas fa-edit text-info fa-lg" style="margin-right: 8px; cursor: pointer;"></i>
                        <i class="fas fa-trash-alt text-danger fa-lg" style="cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Johana</td>
                    <td>Orozco</td>
                    <td>1042708237</td>
                    <td>8.000.000</td>
                    <td>
                        <i class="fas fa-edit text-info fa-lg" style="margin-right: 8px; cursor: pointer;"></i>
                        <i class="fas fa-trash-alt text-danger fa-lg" style="cursor: pointer;"></i>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              
        </div>
    </div>
</div>
